main {
  margin-top: 54px;
  min-height: 100vh;
  max-width: 1280px;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
  overflow-y: auto;
  padding: 30px 5px;


  /* display: grid; */
  /* grid-template-columns: 250px 1fr; */
  /* grid-template-rows: auto; */
  /* grid-template-areas:
    "aside cards";
  align-items: start;
  justify-content: center; */
  gap: 30px;
}
@media screen and (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    align-items: center;
    grid-template-areas:
    "aside"
    "cards";
  }

}

.input-container {
  display: flex;
  gap: 1;
  margin-bottom: 20px;
  max-width: 400px;
}
.add-dish {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
