
.menu {
  grid-area: aside;
  justify-self: stretch;
  width: 250px;
  height: max-content;
  overflow-y: auto;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.active-category {
  position: relative;
  margin-left: 20px;
}
.active-category:before {
  content:"-";
  position: absolute;
  top: 8px;
  /* left: -5px; */
}

.input-search:hover {
  box-shadow: inset 2px 2px 8px rgba(66, 66, 66, 0.5);
}
.input-search:focus {
  box-shadow: inset 2px 2px 2px rgba(66, 66, 66, 0.7);
}
