#nav-icon1 {
  /* display:block; */
  /* width: 60px; */
  /* height: 60px; */
  position: relative;
  /* margin: 50px 0 0 30px; */
  margin-top:5px;
  cursor: pointer;
  

}

#nav-icon1 span {
  display: block;
    position: absolute;
    height: 9px;
    width: 60px;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}
