

.nav {
  /* display: flex; */
  /* justify-content: space-between; */
  position: fixed;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  color: white;
  background-color: #282c34;
  border-bottom: 1px solid black;
  box-shadow: 1px 3px 1px rgb(57 57 57);
  font-size: 14px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.nav-h {
    display: flex;
  justify-content: space-between;
  padding:5px 60px 1px;
}


.logo-img {
  /* margin: 3px 0 0 30px; */
  height: 60px;
  background-color: #282c34;
  cursor: pointer;
}



