body {
  margin: 0;
  background-color: #282c34;

}

h1 {
  text-align: center;
}
.App {
  text-align: center;
}
.App-header {
  padding: 0;
  padding-top: 30px;
  min-height: 100vh;
  // max-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
